html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.carousel {
    height: 40%;
    width: 50%;
}
.image {
    float: right;
}
.map {
    border-color: black;
    border-width: 50px;
    border-radius: 40px;
}
body {
    overflow-y: hidden; /* Hide vertical scrollbar */
}
